.Auto{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sellll{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.formCall{
    background-color: black;

}

#ru{
    color: white;
}

.Average {
    .Photo {
      img {
        width: 100%;
        height: auto;
      }
    }
  
    .Auto {
      .Autojapan {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      .all {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 5px;
        }
  
        .watchAll {
          display: flex;
          align-items: center;
          cursor: pointer;
  
          .strelka {
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  
    .autoCheck {
      .wrapper {
        width: 100%;
        height: auto;
      }
  
      button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
  
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  
    .frame2 {
      #China {
        width: 100%;
        height: auto;
      }
    }
  
    .frame3 {
      img {
        width: 100%;
        height: auto;
      }
    }
  
    .sell {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
    }
    .sell:hover{
        background-color: red;
    }
    .feedback {
      img {
        width: 100%;
        height: auto;
      }
    }
  
    .formCall {
        width: 1000px;
       
       
        
      .color {
        width: 500px;
        color: white;
        padding: 20px;
  
        .infoContact {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
  
      .contactInfo {
        font-weight: bold;
        font-size: large;
        justify-content: space-between;
        margin-top: 20px;
        color: white;
  
        ul {
          list-style-type: none;
          padding: 0;
  
          li {
            margin-bottom: 5px;
          }
        }
      }
  
      .cards {
        display: inline-flex;
        justify-content: space-between;
       
  
        ul {
          list-style-type: none;
          padding: 0;
          text-align: center;
  
          li {
            margin-bottom: 10px;
          }
  
          .gis,
          .Yandex,
          .VL {
            width: 50px;
            height: 50px;
          }
  
          a {
            text-decoration: none;
            color: #007bff;
          }
        }
      }
  
      .form {
        border-radius: 20px 20px 0 0;
        width: 400px;
        margin-left: 200px;
        margin-top: 20px;
        background-color: white;
        
        .formName {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
          color: white;
        }
  
        form {
          .name,
          .number,
          .question {
            margin-left: 60px;
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
  
            li {
              margin-bottom: 5px;
            }
  
            .nameinput,
            .numberinput,
            .questioninput {
              padding: 5px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
  
          .confi {
            color: blue;
            text-decoration: none;
          }
  
          .button {
            margin-left: 200px;
            background-color: black;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 8px;
          }
        }
      }
    }
  }



